<div class="Salle">
  <button
    mat-mini-fab
    color="primary"
    aria-label="Example icon button with a plus one icon"
    class="Salle__addBtn"
    (click)="navigate(['salle', 'nouveau'])"
  >
    <mat-icon>add</mat-icon>
  </button>
  <table
    *ngIf="!isLoading"
    mat-table
    [dataSource]="salles || []"
    matSort
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="numSalle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>No. salle</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button [matMenuTriggerFor]="salleMenu">
          {{ element.numSalle }}
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="nomSalle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom salle</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button [matMenuTriggerFor]="salleMenu">
          {{ element.nomSalle }}
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="cpctSalle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Capacité salle</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button [matMenuTriggerFor]="salleMenu">
          {{ element.cpctSalle }}
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      (click)="setSelectedSalle(row)"
      mat-row
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>
  <mat-menu #salleMenu="matMenu">
    <button (click)="handleEdit()" mat-menu-item>
      <mat-icon>edit</mat-icon>Modifier
    </button>
    <button (click)="handleSupprimer()" class="menu__deleteBtn" mat-menu-item>
      <mat-icon>delete</mat-icon>Supprimer
    </button>
  </mat-menu>
</div>
