table {
  width: 100%;
}

.Salle {
  position: relative;
}

.Salle__addBtn {
  margin: 5px;
  float: right;
}

.menu__deleteBtn {
  background-color: #c2185b;
  margin: 0;
}

.Salle__cellBtn {
  width: 100%;
}
