.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.snack__danger {
  background-color: #e91e63;
}

.snack__success {
  background-color: teal;
}
