table {
  width: 100%;
}

.Etudiant {
  position: relative;
}

.Etudiant__addBtn {
  margin: 5px;
  float: right;
}

.menu__deleteBtn {
  background-color: #c2185b;
  margin: 0;
}

.Etudiant__cellBtn {
  width: 100%;
}
